<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Ingreso de Productos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="{% static 'core/css/estilo2.css'%}">
    </head>
    <header>
      <div>
          <h1 class="size">AMIGOS PELUDOS</h1>
      </div>
      <div id="menu">
        <nav>
          <a class="none" href="{% url 'home' %}">INICIO</a>
          <a class="none" href="{% url 'home' %}">SOBRE NOSOTROS</a>
          <a class="none" href="#contacto">CONTACTO</a>
        </nav>
        <div>
          <!--Si el usuario esta o no conectado-->
          {% if user.is_authenticated %}
          <a class="btn" href="{% url 'logout' %}">Cerrar sesion</a>
    
          {% else %}
    
          <a class="btn1" href="{% url 'login' %}">Inicia Sesion</a>
          <a class="btn " href="{% url 'Registro' %}">Registrate</a>
    
          {% endif %}
        </div>
      </div>
    </header>
  <body>
    <section id="cuerpo">
      <h1 id="m">Crear Nuevo Producto</h1>
      <form action="" method="post" enctype="multipart/form-data">
        <div class="centrar">
          <h4 >Agregar producto</h4>
          <form  novalidate="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
              <div id="agregarpro">
                <div>
                  <div>
                    <label for="id">Id producto</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="" value="" required="">
                  </div>
    
                  <div>
                    <label for="nombre">Nombre producto</label>
                    <input type="text" name="nombre" id="nombre" placeholder="" value="" required="">
                  </div>

                  <div>
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" placeholder="Descripcion del producto"></textarea>
                  </div>

                  <div>
                    <label for="precio">Precio del producto</label>
                    <input type="number" id="precio" name="precio" placeholder="ej:$150">
                  </div>

                  <div>
                    <label for="imagen">Ingrese imagen</label>
                    <input type="file"  name="imagen" id="imagen">
                  </div>
                
                  <div>
                    <label for="categoria">Ingrese categoria</label>
                    {{ producto.categoria }}
                  </div>

                  <div id="boton-agregar">
                    <button type="submit">Agregar</button>
                  </div>

                </div>
          </form>
      </form>
        <div>
            {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}
        </div>
    </section>
    </body>
    <footer id="contacto">
      <div>
          <p>¿tienes dudas o quieres preguntar por algún producto? ¡Puedes contactarte con nosotros en estos números o en nuestras redes sociales!</p>
          <section id="numero">
              <div>+569-32823020</div>
              <div>+569-31288037</div>
          </section>
      </div>
    </footer>
</html>