<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>PAGINA PRINCIPAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'core/css/estilo2.css'%}">
</head>

<header>
    <div>
        <h1 class="size">AMIGOS PELUDOS</h1>
    </div>
    <div id="menu">
      <nav>
        <a class="none" href="{% url 'home' %}">INICIO</a>
        <a class="none" href="{% url 'home' %}">SOBRE NOSOTROS</a>
        <a class="none" href="#contacto">CONTACTO</a>
      </nav>
      <div>
        <!--Si el usuario esta o no conectado-->
        {% if user.is_authenticated %}
        <a class="btn" href="{% url 'logout' %}">Cerrar sesion</a>
  
        {% else %}
  
        <a class="btn1" href="{% url 'login' %}">Inicia Sesion</a>
        <a class="btn " href="{% url 'Registro' %}">Registrate</a>
  
        {% endif %}
      </div>
    </div>
  </header>

<body>
    <section id="cuerpo">
        <section id="sobrenosotros">

            <h3>SOBRE NOSOTROS</h3>
            <p>Amigos peludos es una p&aacute;gina la cual est&aacute; orientada, sin fines de lucro, a la ayuda de la fundaci&oacute;n a la cual estamos ligados, la cual ayuda a animales en situaci&oacute;n de calle, aqu&iacute; podr&aacute;s comprar accesorios para tu mascota, tales como bandanas, correas y m&aacute;s</p>
        
        </section>
        <section id="productos">
            
            <div class="cont-pro">
                <img src="{% static 'core/img/PRODUCTO-FINAL.png'%}" alt="no me funciono :c">
            </div>

            <div class="cont-pro">
                <a href="{% url 'Productos'%}">VER M&Aacute;S PRODUCTOS+</a>
            </div>

        </section>
        <section id="suscribirse">

            <div>
                <h3>¿QU&Eacute; SIGNIFICA ESTAR SUSCRITO?</h3>
                <p>Al suscribirte estas ayudando a la fundaci&oacute;n afiliada a nosotros, la cual actualmente ayuda a animales abandonados d&aacute;ndoles un hogar donde poder descansar, resguardarse y alimentarse.</p>
            </div>
            <div><a href="{% url 'Suscribete' %}"><img src="{% static 'core/img/suscribete-logo-png-clip-art.png'%}" alt="no me funciono :c"></a></div>
            <div>
                <h3>BENEFICIOS</h3>
                <p>Al suscribirte obtienes la posibilidad de realizar una donaci&oacute;n a la fundaci&oacute;n, as&iacute; podr&aacute;s tener un descuento del 5% a la hora de hacer tu paga en tu total de Compra</p>
            </div>

        </section>
    </section>

    <footer id="contacto">

        <div>
            <p>¿tienes dudas o quieres preguntar por algún producto? ¡Puedes contactarte con nosotros en estos números o en nuestras redes sociales!</p>
            <section id="numero">
                <div>+569-32823020</div>
                <div>+569-31288037</div>
            </section>
        </div>

    </footer>
</body>